/* base styles, feel free to edit */
html, body {
    margin: 10px;
    padding: 10px;
    height: 100%;
    font-family: Arial;
}


.hidden {
    display: none;
}


.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jobs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job-list {
    list-style: none;
}

.job-item > div {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.job-posted-info {
    display: flex;
    justify-content: space-between;
}

.job-interactions {
    display: flex;
    justify-content: space-between;
}

.job-img-description {
    display: flex;
}

.job-img-description .job-img {
    align-self: center;
    margin-right: 20px;
}

.job-img-description .job-description {
    display: inline;
}

.job-start-date {
    text-align: center;
}

.job-interactions-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    /* bottom: 40px; */
    top: 20%;
    /* left: 0px; */
    /* margin: 20px;  */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

.job-interactions-popup > ul {
    width: 100%;
}

.job-heart {
    border: none;
    background-color: transparent;
    /* border: 1px solid red; */
    position: relative;
    top: 8px;
    /* left: 5px; */
}