/* base styles, feel free to edit */
/* html {
    
    background-color: #f3f2ef;
} */


html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    min-height: 700px;
    font-family: Arial;
    background-color: #f3f2ef;
}

body {
    width: 95%;
}

footer {
    position: absolute;
    bottom: 0px;
}

/* GENERAL */
.hidden {
    display: none;
}

.vis-hidden {
    visibility: hidden;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-primary, .btn-danger {
    border-radius: 20px
}

.card {
    border-radius: 10px;
}

/* NAVBAR */
header {
    width: 100%;
}

.nav-bar {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.nav-bar-links {
    display: flex;
    align-items: flex-start;
}

#nav-user-container {
    width: 100px;
    text-align: center;
}


/* MAIN CONTENT */
main {
    width: 100%;
}

.content-container {
    width: 100%;
    /* border: 1px solid red; */
}

.content-container > div {
    width: 100%;
}

/* .content-container > div > div {
    width: 100%;
} */

#login-screen, #register-screen {
    width: 40%;
}

.jobs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job-posted-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.job-interactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-content {
    display: flex;
}

.job-img {
    margin-right: 10px;
}

.job-start-description {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.job-start-date {
    align-self: flex-end;
}

/* .job-interactions-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
} */

ul {
    width: 100%;
}

.job-likes-container {
    display: flex;
    align-items: center;
}

.job-star {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

.profile-name-email-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    object-fit: contain;
    width: 150px;
    height: 150px;
    border: 1px solid grey;
}

.profile-container hr {
    width: 100%;
}

.profile-email {
    font-style: italic;
}

#update-profile {
    margin-right: auto;
    margin-left: auto;
}

.job-modify {
    display: flex;
    justify-content: space-between;
}

/* .job-modify > button {
    width: 100px;
    height: 50px
} */

.comment {
    resize: none;
}