body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    background-color: #f3f2ef;
    height: 100%;
    width: 100%;
}

footer {
    flex-shrink: 0;
    padding: 10px;
}

/* GENERAL */
.hidden {
    display: none;
}

.vis-hidden {
    visibility: hidden;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-primary, .btn-danger {
    border-radius: 20px
}

#profile-watch-button {
    border-radius: 20px
}

button.page-link {
    width: 90px;
}

.card {
    border-radius: 10px;
}

/* NAVBAR */
header {
    width: 100%;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 5;
    border-radius: 2px;
    box-shadow: 0px 1px 10px #999;
}

.nav-bar {
    height: 100px;
    padding: 5px 10px;
}

.nav-left {
    display: flex;
    flex-direction: column;
    width: calc(100%-100px);
}

.nav-bar-links {
    display: flex;
}

#nav-user-container {
    align-self: center;
    width: 100px;
    text-align: center;
}


/* MAIN CONTENT */
main {
    width: 100%;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    padding-top: 1rem;
}

.content-container {
    width: 80%;
}

.content-container > div {
    width: 100%;
}
.content-container > div > div {
    width: 100%;
}

.login-container, .register-container {
    width: 40%;
    min-width: 250px;
}

.card:not(:last-child) {
    margin-bottom: 20px;
}

/* Job CSS */
.jobs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job-posted-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.job-interactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-content {
    display: flex;
}

.job-img {
    margin-right: 10px;
}

.job-start-description {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.job-start-date {
    align-self: flex-end;
}

ul {
    width: 100%;
}

.job-likes-container {
    display: flex;
    align-items: center;
}

.job-star {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

.job-creator {
    font-style: italic;
}

.job-modify {
    display: flex;
    justify-content: space-between;
}

/* Profile CSS */
#profile-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    object-fit: contain;
    width: 150px;
    height: 150px;
    border: 1px solid grey;
}

@media (max-width: 900px) {
    img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 500px) {
    img {
        width: 75px;
        height: 75px;
    }
}

.profile-email {
    font-style: italic;
}

#update-profile {
    margin-right: auto;
    margin-left: auto;
}

.comment {
    resize: none;
}
